<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Seleccionar tortuga</p>
<form>
<tr><div>Selecciones su tortuga jugador 1</div>
    <th>t1</th>
    <th>t2</th>
    <th>t3</th>
    <th>t4</th>
    <th>t5</th>
    <th>t6</th>
</tr>

<div>escoge lo que quieres apostar</div>
    <input type="text"  name="fname" value="Apostar">
    <input type="text" value="Apostar"  >
</form>

<tr><div>Selecciones su tortuga jugador 2</div>
    <th>t1</th>
    <th>t2</th>
    <th>t3</th>
    <th>t4</th>
    <th>t5</th>
    <th>t6</th>
</tr>
    <div>escoge lo que quieres apostar</div>
    <input type="text"  name="name" >
<input type="submit" value="Apostar">
</form>
<tr><div>Seleccione tipo de pista</div>
    <th>p1</th>
    <th>p2</th>
    <th>p3</th>
    <th>p4</th>
    <th>p5</th>
    <th>p6</th>
</tr>
<button type="submit" class="btn btn-primary">GO</button>
</body>
</html>